*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
    font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;

}

div>a:visited {
    color: gray;
}

button>a:visited {
    color: white;
}

button>a:hover {
    transform: translate(0.2ms);
}

button {
    border: 0;
    width: 125px;
}

.navigator {
    position: relative;
    margin: auto;
    max-width: 1156px;
}

nav {
    position: fixed;
    top: 0px;
    max-width: 1156px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.first-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.coin,
.exchange,
.swap {
    padding: 10px;
    font-size: 14px;
}

.logo {
    display: flex;
    width: 80px;
    margin: 0;
}

.second-div {
    display: flex;
    align-items: center;
    color: gray;
    justify-content: space-between;
    margin-right: 25px;
}

.search,
.setting {
    padding: 20px;
}

.wallet,
.view {
    background-color: rgb(24, 198, 131);
    border-radius: 20px;
    padding: 10px;
    color: white;
}

.wallet:hover {
    transition: transform 0.2ms;
}

.blue {
    background-color: rgb(63, 81, 181);
    height: 40%;
    z-index: -1;
    margin-top: 60px;
}


.info {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    font-size: 14px;
    padding-left: 60px;
    padding-right: 80px;

}

.info h2 {
    margin: 0px;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.coin-lists {
    position: relative;
    background-color: white;
    height: 100%;
    top: -100px;
    z-index: 2;
    margin: auto;
    max-width: 1156px;
}

.coin-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(253, 250, 250);

}

.last-button {
    display: flex;
    justify-content: center;
    position: relative;
}

.view {
    border: 0;
    position: absolute;
    bottom: 30px;
}


.footer {
    background-color: rgb(63, 81, 181);
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;

}

.last {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1156px;
    align-items: center;
}

.coin-cap {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 38px;
    margin-bottom: 100px;

}

.coin-cap>h5 {
    margin-left: 5px;
}

.links>div {
    padding: 5px;
    width: 120px;
}

.footer>a {
    color: gray;

}

.footer>a:visited {
    color: gray;
}

.legals {
    font-size: 14px;
}

.legals>h5 {
    margin: 0;
}

.terms,
.policy {
    width: 120px;
}

.terms {
    padding: 10px 0;
}

.disclaimer {
    padding-top: 15px;
    margin: 0;
}

.disclaimer>h5 {
    margin: 0;
    font-size: 14px;

}